<h1>
  Your Groups
  <% if current_user.has_permission(1, 5) %>
    <%= link_to 'New Group', new_group_path, :class => "btn btn-success pull-right" %>
  <% end %>
</h1>

<% @groups.each do |group| %>
  <div class="row well">
    <div class="span4">
      <h2><%= link_to group.name, group %></h2>
    </div>
    <div class="span4">
      <h3>New Discussions</h3>
    </div>
    <div class="span4">
      <h3>Next Event</h3>
    </div>
  </div>
<% end %>
