<h1><small>Users:</small> <%= @user.email %></h1>

<table>
<tr>
  <th>Group</th>
  <th>Level</th>
  <th></th>
</tr>
<% for permission in @permissions %>
<tr>
  <td><%= permission.group.name %><td>
  <td><%= permission.level %></td>
  <td><%= link_to 'Edit', edit_group_permission_url(permission.group, permission) %>
</tr>
<% end %>
</table>
